# Default values for items-charts.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# replicaCount: 3

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

image:
  repository: dzivkovic90t/microservices-items
  pullPolicy: Always
  tag: latest

nameOverride: ""
fullnameOverride: "microservices-items"

env:
  - name: AUDIT_LOGS_SERVICE_URL
    value: http://microservices-audit-logs:3000/api/audit-logs
  - name: POSTGRES_HOST
    valueFrom:
      secretKeyRef:
        name: microservices-secrets-postgresql
        key: host
  - name: POSTGRES_PORT
    valueFrom:
      secretKeyRef:
        name: microservices-secrets-postgresql
        key: port
  - name: POSTGRES_DB
    valueFrom:
      secretKeyRef:
        name: microservices-secrets-postgresql
        key: database
  - name: POSTGRES_USER
    valueFrom:
      secretKeyRef:
        name: microservices-secrets-postgresql
        key: username
  - name: POSTGRES_PASSWORD
    valueFrom:
      secretKeyRef:
        name: microservices-secrets-postgresql
        key: password

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

service:
  type: ClusterIP
  port: 3000

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi

livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http
